In [54]:
import pandas as pd
import numpy as np
import seaborn as sns

In [56]:
data=pd.read_csv("F:/MachineLearing/sales_product.csv")
data.head()

,Age,Income,Product_Category,Payment_Method,Purchase_Amount,Income_Group,Age_Group,Purchase_Status
0,56,23343,Electronics,Debit Card,87.903878,Low,Senior,0
1,69,33500,Sports,Debit Card,56.761081,Low,Senior,0
2,46,73222,Beauty,PayPal,320.032974,Medium,Middle-aged,0
3,32,49375,Electronics,PayPal,354.705485,Medium,Middle-aged,0
4,60,29662,Beauty,Debit Card,20.635142,Low,Senior,1

In [58]:
data.isnull().sum()

Age                 0
Income              0
Product_Category    0
Payment_Method      0
Purchase_Amount     0
Income_Group        0
Age_Group           0
Purchase_Status     0
dtype: int64

In [60]:
#Labelencoder=> use for text to numeric value
from sklearn.preprocessing import LabelEncoder

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               500 non-null    int64
 1   Income            500 non-null    int64
 2   Product_Category  500 non-null    object
 3   Payment_Method    500 non-null    object
 4   Purchase_Amount   500 non-null    float64
 5   Income_Group      500 non-null    object
 6   Age_Group         500 non-null    object
 7   Purchase_Status   500 non-null    int64
dtypes: float64(1), int64(3), object(4)
memory usage: 31.4+ KB

In [64]:
#create object of class
lable=LabelEncoder()

In [66]:
# create new columns(input('Company')) instance of company,job,degree

data['Product_Category'] = lable.fit_transform(data['Product_Category'])
data['Payment_Method']=lable.fit_transform(data['Payment_Method'])
data['Income_Group']=lable.fit_transform(data['Income_Group'])
data['Age_Group']=lable.fit_transform(data['Age_Group'])

data.head()

,Age,Income,Product_Category,Payment_Method,Purchase_Amount,Income_Group,Age_Group,Purchase_Status
0,56,23343,2,2,87.903878,1,1,0
1,69,33500,4,2,56.761081,1,1,0
2,46,73222,0,3,320.032974,2,0,0
3,32,49375,2,3,354.705485,2,0,0
4,60,29662,0,2,20.635142,1,1,1

In [68]:
x=data.iloc[:,0:7]
y=data.iloc[:,7]

In [70]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [72]:
x_train.head(2)

,Age,Income,Product_Category,Payment_Method,Purchase_Amount,Income_Group,Age_Group
107,61,103042,3,1,369.518998,0,1
336,50,89172,2,1,334.131304,0,1

In [74]:
y_train.head(2)

107    0
336    0
Name: Purchase_Status, dtype: int64

In [76]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [78]:
x_train.shape

(400, 7)

In [80]:
x_test.shape

(100, 7)

In [82]:
from sklearn.linear_model import LogisticRegression

In [84]:
model=LogisticRegression(solver='lbfgs',max_iter=100,C=1)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print('y_pred:',y_pred)
print('y_test:',y_test)

y_pred: [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
y_test: 90     0
254    0
283    0
445    0
461    0
      ..
372    0
56     1
440    1
60     0
208    0
Name: Purchase_Status, Length: 100, dtype: int64

In [86]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [88]:
acc=accuracy_score(y_test,y_pred)
print("Accuracy_score of LogisticRegression : ",acc)

Accuracy_score of LogisticRegression :  0.88

In [90]:
cm=confusion_matrix(y_test,y_pred)
print("confusion_matrix of LogisticRegression :",cm)

confusion_matrix of LogisticRegression : [[88  0]
 [12  0]]

In [92]:
#DecisionTreeClassifier
from sklearn import tree
model1=tree.DecisionTreeClassifier()
model1.fit(x_train,y_train)
y_pre=model1.predict(x_test)
acc_score=accuracy_score(y_test,y_pre)
print("Accuracy_score of DecisionTreeClassifier :",acc_score)

Accuracy_score of DecisionTreeClassifier : 0.77

In [94]:
cm1=confusion_matrix(y_test,y_pre)
print("confusion_matrix of DecisionTreeClassifier :",cm1)

confusion_matrix of DecisionTreeClassifier : [[74 14]
 [ 9  3]]

In [96]:
#model=SVC(kernel='rbf',max_iter=-1)
from sklearn.svm import SVC
model2 = SVC(kernel='linear', random_state=0)  
model2.fit(x_train,y_train)
y_pred2=model2.predict(x_test)
acc_score=accuracy_score(y_test,y_pred2)
print("Accuracy_score of SVC :",acc_score)

Accuracy_score of SVC : 0.88

In [98]:
cm2=confusion_matrix(y_test,y_pred2)
print("confusion_matrix of SVC :",cm2)

confusion_matrix of SVC : [[88  0]
 [12  0]]